/*
GENERAL
*/

.separator {
    border: solid lightgray 1px;
}

a {
    color: cornflowerblue;
    font-weight: bold;
    text-decoration: none;
}

.mark {
    color: orangered;
    background-color: ghostwhite;
}

.quote {
    float:right;
    margin-right: 20px;
    font-size: 0.9em;
    color: cornflowerblue;
}

button {
    color: white;
    background-color: mediumaquamarine;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.content {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    z-index: 0;
}

.content-padding {
    padding-top: 70px;
    padding-bottom: 20px;
}

.note {
    float: right;
    width: 100%;
    border: solid gray 3px;
    padding: 5px;
    margin: 0 0 10px 10px;
}



/*
RESPONSIVE
*/

/* smartphone */
@media only screen and (max-width: 600px) {
    .content-padding {
        padding-left: 20px;
        padding-right: 20px;
    }
    .sidebar-on-left { padding-left: 0; }
    .sidebar-on-right { padding-right: 0; }
    .note { max-width: 600px }
}

/* tablet / small desktop */
@media only screen and (min-width: 600px) {
    .content-padding {
        padding-left: 140px;
        padding-right: 115px;
    }
    .sidebar-on-left { padding-left: 120px; }
    .sidebar-on-right { padding-right: 95px; }
    .note { max-width: 300px }
}

/* desktop */
@media only screen and (min-width: 1200px) {
    .content-padding {
        padding-left: 200px;
        padding-right: 320px;
    }
    .sidebar-on-left { padding-left: 180px; }
    .sidebar-on-right { padding-right: 300px; }
}


/* index page */
.index {
    padding-left: 20px;
    padding-right: 20px;
}
.index h1 {
    text-align: center;
}
.index div {
    max-width: 750px;
    position: relative;
    margin: 0 auto;
}
.index div img {
    width: 30%;
    margin-bottom: 6%;
}


/* css selectors */
.video {
    position: relative;
    /* format 16:9 */
    padding-bottom: 56.25%;
    height: 0;
}
.video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}