.separator {
    border: solid lightgray 1px;
}

.content {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 50px;
    z-index: 0;
}

a {
    color: cornflowerblue;
    font-weight: bold;
    text-decoration: none;
}

.content-padding {
    padding: 70px 20px 20px 20px;
}

/* smartphone */
@media only screen and (max-width: 600px) {
    .sidebar-on-left { padding-left: 10px; }
    .sidebar-on-right { padding-right: 10px; }
}

/* tablet / small desktop */
@media only screen and (min-width: 600px) {
    .sidebar-on-left { padding-left: 140px; }
    .sidebar-on-right { padding-right: 115px; }
}

/* desktop */
@media only screen and (min-width: 1200px) {
    .sidebar-on-left { padding-left: 200px; }
    .sidebar-on-right { padding-right: 320px; }
}

.mark {
    color: orangered;
    background-color: ghostwhite;
}

button {
    color: white;
    background-color: mediumaquamarine;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.quote {
    float:right;
    margin-right: 20px;
    font-size: 0.9em;
    color: cornflowerblue;
}







.content-authors {
    text-align: center;
    width: 100%;
}

.content-authors table {
    width: 100%;
    border-collapse: collapse;
}
.content-authors td {
    width: 10%;
    height: 60px;
    padding: 0%;
}

.content-authors div {
    height: 300%;
}

.content-authors table img {
    border-radius:30%;
}

.content-authors img {
    width: 150px;
    border-radius:50%;
}